<div id="wrapper">
  <%= render 'layouts/nav' %>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <%= render "layouts/flash" %>
        <h1 class="page-header">站点配置</h1>
        <div class="col-lg-4">
          <%= form_for :site_config do |f| %>
            <%= f.label :修改公告 %>
            <br>
            <%= f.text_area :value, class: "form-control" %>
            <br>
            <%= f.submit "修改",class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
