<div class="cc">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div>
          <h1 class="auth-panel-header">
            <a href="/" class="brand"><b>Open</b>Mind</a>
          </h1>
        </div>
        <div class="panel-body">
          <%= devise_error_messages! %>
          <%= form_for :user, url: user_password_path, html:{method: :put} do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <fieldset>
              <% if @minimum_password_length %>
                <% placeholder = "输入新的密码（最低#{@minimum_password_length}个字符）" %>
              <% else %>
                <% placeholder = "请输入新的密码" %>
              <% end %>
              <div class="form-group">
                <%= f.password_field :password, class:"form-control",placeholder: placeholder %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control", placeholder:"请再次输入密码"%>
              </div>
              <a id='register' href='/users/sign_up'>注册账号</a>
              <a id='login' href='/users/sign_in'>登录</a>
              <%= f.submit "修改密码",class: "btn btn-lg btn-info btn-block" %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

