<div id="wrapper">
  <%= render 'layouts/nav' %>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">流量使用记录</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= render "layouts/flash" %>
        <p><a href="/admin/users/new" class="btn btn-info"><i class="fa fa-plus"></i>新建用户</a></p>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th>邮箱</th>
                <th>端口</th>
                <th>加密方式</th>
                <th>已用流量/总流量</th>
                <th>最后在线时间</th>
                <th>最后签到时间</th>
                <th>注册IP</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.email %></td>
                  <td><%= user.port %></td>
                  <td><%= user.method %></td>
                  <td><%= k_m_g(user.d+user.u) %>/<%= k_m_g(user.transfer_enable) %></p></td>
                  <td><%= distance_of_time_in_words(Time.at(user.t),Time.now) %></td>
                  <td><%= distance_of_time_in_words(Time.at(user.last_get_gift_time),Time.now) %></td>
                  <td><%= user.reg_ip %></td>
                  <td>
                    <a href="/admin/users/<%= user.id %>/edit" class="btn btn-info">编辑</a>
                    <%= link_to "删除","/admin/users/#{user.id}", method:"delete", class:'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="flickr_pagination">
            <%= will_paginate @users, :container => false %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
